<!doctype html>
<html>

<head>
    <style>
        body {
            padding-top: 90px;
        }
    </style>
</head>

<body>
    <h2>You're currently not logged in!</h2>
    <p>
        <a href="/auth/login">Login</a>
    </p>
</body>
</html>
